$red: rgba(255, 0, 0, 1);
$red-light: rgba(255, 0, 0, 0.3);

$blue: rgba(0, 0, 255, 1);
$blue-light: rgba(0, 0, 255, 0.3);

$green: rgba(0, 255, 0, 1);
$green-light: rgba(0, 255, 0, 0.3);

$yellow : rgba(255, 255, 0, 1);
$yellow-light: rgba(255, 255, 0, 0.3);

$orange: rgba(255, 145, 0, 1);
$orange-light: rgba(255, 145, 0, 0.3);

$purple: rgba(138, 43, 226, 1);
$purple-light: rgba(138, 43, 226, 0.3);