@mixin fade {
    position: relative;
    background: white;
    background-clip: padding-box;
    border: 3px solid transparent;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -5px;
        border-radius: inherit;
        //background: linear-gradient(135deg, $red, $blue)
    }
}