.buttons-body {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    height: 5rem;
    width: 50rem;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

    h1{
        margin-top: 10px;
    }

    div {
        margin-top: 10px;

        button {
            margin-left: 15px;
            width: 150px;
        }
    }
}