.buttons-body {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    height: 5rem;
    width: 50rem;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

    h1{
        margin-top: 10px;
    }

    div {
        margin-top: 10px;

        button {
            margin-left: 15px;
            width: 150px;
        }
    }
}

.basic-btn {
    height: 3rem;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    transition: 0.6s;

    &.blue {
        border: 2px rgba(0, 0, 255, 1) solid;
        background-color:rgba(0, 0, 255, 0.3);

        &:hover {
            background-color: rgba(0, 0, 255, 1);
        }
    }

    &.red {
        border: 2px rgba(255, 0, 0, 1) solid;
        background-color: rgba(255, 0, 0, 0.3);

        &:hover {
            background-color: rgba(255, 0, 0, 1);
        }
    }

    &.green {
        border: 2px rgba(0, 255, 0, 1) solid;
        background-color: rgba(0, 255, 0, 0.3);

        &:hover {
            background-color: rgba(0, 255, 0, 1);
        }
    }

    &.orange {
        border: 2px rgba(255, 145, 0, 1) solid;
        background-color: rgba(255, 145, 0, 0.3);

        &:hover {
            background-color: rgba(255, 145, 0, 1);
        }
    }

    &.purple {
        border: 2px rgba(138, 43, 226, 1) solid;
        background-color: rgba(138, 43, 226, 0.3);

        &:hover {
            background-color: rgba(138, 43, 226, 1);
        }
    }
}

.glowing-btn {
    height: 3rem;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: 0.6s;

    &.blue {
        border: 2px rgba(0, 0, 255, 1) solid;
        background-color:rgba(0, 0, 255, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 0, 255, 1);
        
        &:hover {
            background-color: rgba(0, 0, 255, 1);
            box-shadow: 0px 0px 20px rgba(0, 0, 255, 1);
        }
    }

    &.red {
        border: 2px rgba(255, 0, 0, 1) solid;
        background-color: rgba(255, 0, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(255, 0, 0, 1);

        &:hover {
            background-color: rgba(255, 0, 0, 1);
            box-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
        }
    }

    &.green {
        border: 2px rgba(0, 255, 0, 1) solid;
        background-color: rgba(0, 255, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 255, 0, 1);

        &:hover {
            background-color: rgba(0, 255, 0, 1);
            box-shadow: 0px 0px 20px rgba(0, 255, 0, 1);
        }
    }

    &.orange {
        border: 2px rgba(255, 145, 0, 1) solid;
        background-color: rgba(255, 145, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(255, 145, 0, 1);

        &:hover {
            background-color: rgba(255, 145, 0, 1);
            box-shadow: 0px 0px 20px rgba(255, 145, 0, 1);
        }
    }

    &.purple {
        border: 2px rgba(138, 43, 226, 1) solid;
        background-color: rgba(138, 43, 226, 0.3);
        box-shadow: 0px 0px 5px rgba(138, 43, 226, 1);

        &:hover {
            background-color: rgba(138, 43, 226, 1);
            box-shadow: 0px 0px 20px rgba(138, 43, 226, 1);
        }
    }
}
