@use '../utilities/' as *;

.click-btn {
    border: 2px black solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px rgba(111, 111, 111, 1);
    background-color: white;
    transition: 0.3s;

    &:active {
        color: white;
        background-color: black;
        box-shadow: 0 5px rgba(111, 111, 111, 0.5);
        transform: translateY(4px);
    }

    &.blue {

        box-shadow: 0 9px $blue;
        background-color: $blue-light;
        border: 2px $blue solid;

        &:active {
            background-color: $blue;
            box-shadow: 0 5px $blue-light;
        }
    }

    &.red {

        box-shadow: 0 9px $red;
        background-color: $red-light;
        border: 2px $red solid;

        &:active {
            background-color: $red;
            box-shadow: 0 5px $red-light;
        }
    }

    &.green {

        box-shadow: 0 9px $green;
        background-color: $green-light;
        border: 2px $green solid;

        &:active {
            background-color: $green;
            box-shadow: 0 5px $green-light;
        }
    }

    &.yellow {

        box-shadow: 0 9px $yellow;
        background-color: $yellow-light;
        border: 2px $yellow solid;

        &:active {
            color: black;
            background-color: $yellow;
            box-shadow: 0 5px $yellow-light;
        }
    }

    &.orange {

        box-shadow: 0 9px $orange;
        background-color: $orange-light;
        border: 2px $orange solid;

        &:active {
            background-color: $orange;
            box-shadow: 0 5px $orange-light;
        }
    }

    &.purple {

        box-shadow: 0 9px $purple;
        background-color: $purple-light;
        border: 2px $purple solid;

        &:active {
            background-color: $purple;
            box-shadow: 0 5px $purple-light;
        }
    }

}