@use '../utilities/' as *;

.fill-btn {
    height: 3rem;
    background-color: white;
    border: 2px black solid;
    border-radius: 25px;
    transition: .7s;
    cursor: pointer;

    &:hover {
        box-shadow: inset 0px 80px 0px black;
        color: white;
    }
    
    &.blue {
        border: 2px $blue solid;

        &:hover {
            box-shadow: inset 0px 80px 0px $blue;
        }
    }

    &.red {
        border: 2px $red solid;

        &:hover {
            box-shadow: inset 0px 80px 0px $red;
        }
    }

    &.green{
        border: 2px $green solid;

        &:hover {
            box-shadow: inset 0px 80px 0px $green;
            color: black;
        }
    }

    &.yellow {
        border: 2px $yellow solid;

        &:hover {
            color: black;
            box-shadow: inset 0px 80px 0px $yellow;
        }
    }

    &.orange {
        border: 2px $orange solid;

        &:hover {
            box-shadow: inset 0px 80px 0px $orange;
        }
    }
    
    &.purple {
        border: 2px $purple solid;

        &:hover {
            box-shadow: inset 0px 80px 0px $purple;
        }
    }
}