@use '../utilities/' as *;

.glowing-btn {
    height: 3rem;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    transition: 0.6s;

    &:hover {
        background-color: black;
        color: white;
        box-shadow: 0px 0px 20px black;
    }

    &.blue {
        border: 2px $blue solid;
        background-color: $blue-light;
        box-shadow: 0px 0px 5px $blue;
        
        &:hover {
            background-color: $blue;
            box-shadow: 0px 0px 20px $blue;
        }
    }

    &.red {
        border: 2px $red solid;
        background-color: $red-light;
        box-shadow: 0px 0px 5px $red;

        &:hover {
            background-color: $red;
            box-shadow: 0px 0px 20px $red;
        }
    }

    &.green {
        border: 2px $green solid;
        background-color: $green-light;
        box-shadow: 0px 0px 5px $green;

        &:hover {
            background-color: $green;
            box-shadow: 0px 0px 20px $green;
            color: black;
        }
    }

    &.yellow {
        border: 2px $yellow solid;
        background-color: $yellow-light;
        box-shadow: 0px 0px 5px $yellow;

        &:hover {
            color: black;
            background-color: $yellow;
            box-shadow: 0px 0px 20px $yellow;
        }
    }

    &.orange {
        border: 2px $orange solid;
        background-color: $orange-light;
        box-shadow: 0px 0px 5px $orange;

        &:hover {
            background-color: $orange;
            box-shadow: 0px 0px 20px $orange;
        }
    }

    &.purple {
        border: 2px $purple solid;
        background-color: $purple-light;
        box-shadow: 0px 0px 5px $purple;

        &:hover {
            background-color: $purple;
            box-shadow: 0px 0px 20px $purple;
        }
    }
}
