html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-title {
  font-size: 5rem;
  text-align: center;
  font-family: "Lobster", cursive;
  background-image: linear-gradient(180deg, violet, royalblue);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
}
.main-menu button {
  height: 4rem;
  font-size: 1.5rem;
  margin: 10px;
  background-color: white;
  border: 2px black solid;
  transition: 0.5s;
  cursor: pointer;
}
.main-menu button:hover {
  box-shadow: inset 0px 80px 0px black;
  color: white;
}

.buttons-body {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  height: 5rem;
  width: 50rem;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.buttons-container h1 {
  margin-top: 10px;
}
.buttons-container div {
  margin-top: 10px;
}
.buttons-container div button {
  margin-left: 15px;
  width: 150px;
}

.basic-btn {
  height: 3rem;
  border: 2px black solid;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
  transition: 0.6s;
}
.basic-btn.blue {
  border: 2px rgb(0, 0, 255) solid;
  background-color: rgba(0, 0, 255, 0.3);
}
.basic-btn.blue:hover {
  background-color: rgb(0, 0, 255);
}
.basic-btn.red {
  border: 2px rgb(255, 0, 0) solid;
  background-color: rgba(255, 0, 0, 0.3);
}
.basic-btn.red:hover {
  background-color: rgb(255, 0, 0);
}
.basic-btn.green {
  border: 2px rgb(0, 255, 0) solid;
  background-color: rgba(0, 255, 0, 0.3);
}
.basic-btn.green:hover {
  background-color: rgb(0, 255, 0);
}
.basic-btn.orange {
  border: 2px rgb(255, 145, 0) solid;
  background-color: rgba(255, 145, 0, 0.3);
}
.basic-btn.orange:hover {
  background-color: rgb(255, 145, 0);
}
.basic-btn.purple {
  border: 2px rgb(138, 43, 226) solid;
  background-color: rgba(138, 43, 226, 0.3);
}
.basic-btn.purple:hover {
  background-color: rgb(138, 43, 226);
}

.glowing-btn {
  height: 3rem;
  border: 2px black solid;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
  transition: 0.6s;
}
.glowing-btn.blue {
  border: 2px rgb(0, 0, 255) solid;
  background-color: rgba(0, 0, 255, 0.3);
  box-shadow: 0px 0px 5px rgb(0, 0, 255);
}
.glowing-btn.blue:hover {
  background-color: rgb(0, 0, 255);
  box-shadow: 0px 0px 20px rgb(0, 0, 255);
}
.glowing-btn.red {
  border: 2px rgb(255, 0, 0) solid;
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgb(255, 0, 0);
}
.glowing-btn.red:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.glowing-btn.green {
  border: 2px rgb(0, 255, 0) solid;
  background-color: rgba(0, 255, 0, 0.3);
  box-shadow: 0px 0px 5px rgb(0, 255, 0);
}
.glowing-btn.green:hover {
  background-color: rgb(0, 255, 0);
  box-shadow: 0px 0px 20px rgb(0, 255, 0);
}
.glowing-btn.orange {
  border: 2px rgb(255, 145, 0) solid;
  background-color: rgba(255, 145, 0, 0.3);
  box-shadow: 0px 0px 5px rgb(255, 145, 0);
}
.glowing-btn.orange:hover {
  background-color: rgb(255, 145, 0);
  box-shadow: 0px 0px 20px rgb(255, 145, 0);
}
.glowing-btn.purple {
  border: 2px rgb(138, 43, 226) solid;
  background-color: rgba(138, 43, 226, 0.3);
  box-shadow: 0px 0px 5px rgb(138, 43, 226);
}
.glowing-btn.purple:hover {
  background-color: rgb(138, 43, 226);
  box-shadow: 0px 0px 20px rgb(138, 43, 226);
}/*# sourceMappingURL=main.css.map */